<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yagmurerdogan.favdish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_favdish"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_favdish_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FavDish">
        <activity
            android:name=".view.activities.AddUpdateDishActivity"
            android:label="@string/lbl_add_dish"
            android:theme="@style/Theme.FavDish.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.FavDish.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>